.property-card{
    border: 1px solid #cccccc;
    padding: 15px;  
    /* margin-bottom: 20px; */
    width: 30%;
    box-sizing: border-box;
}
/*.property-card h2{
    font-size: 30px !important;
    line-height: 1.4;
    min-height: 2.8em;
}*/
.property-image{
    width: 100%;
    
    /*そのままの画像の場合*/
    /* height: auto; */

    /*画像の高さをそろえる場合*/
    height: 220px;
    object-fit: cover;
}
.property-title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px !important;
    line-height: 1.4;
    min-height: 2.8em;
}
#property-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}
@media (max-width: 768px){
    .property-card{
        width: 100%;
    }
}

/* 検索条件エリア */
#property-search {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: end;

    padding: 20px;
    margin-bottom: 30px;

    border: 1px solid #cccccc;
}

/* 各検索条件 */
#property-search label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* 入力欄・選択欄 */
#property-search input,
#property-search select {
    height: 36px;
    padding: 5px 8px;
    box-sizing: border-box;
}

/* Searchボタン */
#search-button {
    height: 36px;
    padding: 0 20px;
    cursor: pointer;
}